<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Lorem ipsum dolor sit amet.</h1>
      <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, ea.</p>
      <a href="" class="btn btn--accent btn--stretched">Lorem, ipsum.</a>
    </header>
    <img class="hero__image" src="images/banner.png" alt="" />
    </picture>
  </div>
</section>