<section class="block container">
    <Header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima numquam porro vitae nisi nesciunt ad
            quaerat
            dolorem odio ea eos!</p>
    </Header>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima numquam porro vitae nisi nesciunt ad quaerat
            dolorem odio ea eos!</p>
    </div>
</section>