<section class="block container">
    <header class="block__header">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, doloribus?</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, molestias?</p>
            <a href="#" class="link-arrow">Lorem, ipsum.</a>
        </div>
        <img class="feature__image" src="images/easy.jpg" alt="">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, molestias?</p>
            <a href="#" class="link-arrow">Lorem, ipsum.</a>
        </div>
        <img class="feature__image" src="images/easy.jpg" alt="">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, molestias?</p>
            <a href="#" class="link-arrow">Lorem, ipsum.</a>
        </div>
        <img class="feature__image" src="images/easy.jpg" alt="">
    </article>
</section>