<footer class="block block-dark footer footer__sections">
    <section class="container grid footer__sections">
        <div class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">Item 1</h2>
                <span class="collapsible__icon icon"> &#11163;</span>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel saepe ullam accusantium quam commodi?
                Aspernatur, ut officia. Libero, quia. Suscipit!
            </div>
        </div>
    <section class="container grid">
        <div class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">Item 2</h2>
                <span class="collapsible__icon icon"> &#11163;</span>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel saepe ullam accusantium quam commodi?
                Aspernatur, ut officia. Libero, quia. Suscipit!
            </div>
        </div>
    </section>
    <section class="container grid">
        <div class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">Item 3</h2>
                <span class="collapsible__icon icon"> &#11163;</span>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel saepe ullam accusantium quam commodi?
                Aspernatur, ut officia. Libero, quia. Suscipit!
            </div>
        </div>
    </section>
    <section class="footer__brand">
        <img src="images/logo.svg" alt="">
        <p class="footer__copyright">Copyright 2021</p>
    </section>
    </section>
</footer>