<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <img src="./images/Black-Spiderman-Iphone-HD-Wallpaper.jpg" alt="A depressed spider man">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--small icon--white">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit itaque quisquam aut alias dolorum facilis
                soluta magni! Consectetur, numquam! Reiciendis voluptatibus maxime et expedita animi, modi iure nemo quia
                dolores.
            </p>
        </blockquote>
    </div>
</div>